.rightAlign {
  text-align: right;
}

.treeLeft {
  padding-left: 10px;
}

.card {
  min-height: 347px;
  max-height: 347px;
  overflow-y: auto;

  :global {
    .ant-card-body {
      padding: 16px 7px 7px 8px;
    }

    .ant-list-sm .ant-list-item {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}

.deptInfo {
  height: 21px;
  font-size: 15px;
  font-weight: bold;
}

.itemDiv {
  width: 100%;

  .checkbox {
    float: left;
  }

  .deptName {
    float: right;
  }
}

.itemDiv:hover {
  background: #E6F7FF;
}

.pagination {
  width: 100%;
  margin-top: 9px;

  .checkbox {
    padding-left: 10px;
    float: left;
  }

  .pageNoe {
    float: right;
  }
}

.label {
  :global {
    .ant-form-item-label {
      line-height: 1;
    }
  }
}

.resultDiv {
  border: 1px solid #d9d9d9;
  background: white;
  width: 100%;
  min-height: 100px;
  max-height: 123px;
  overflow-x: hidden;
  overflow-y: auto;

  .deptTag {
    color: #1890FF;
    background-color: #E6F7FF;
    border: 1px solid #91D5FF;
    margin-left: 10px;
  }

  .userTag {
    color: #375EEE;
    background-color: rgba(55, 94, 238, 0.09);
    border-radius: 4px;
    border: 1px solid #375EEE;
    margin-left: 10px;
  }

  :global {
    .ant-form-item{
      margin-bottom:2px
    }
  }
}
