.rightAlign2 {
  text-align: right;
}

.treeLeft2 {
  border-left: 0;
}

.card2 {
  min-height: 350px;
  max-height: 350px;
  overflow-y: hidden;
  border: 1px solid #CCCCCC;
  border-bottom-left-radius: 4px;


}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: lightgray;
  background-clip: padding-box;
}

/* 定义滑块 */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.45);
  border-radius: 19px;
}

/* 定义滚动条轨道 */
::-webkit-scrollbar-track {
  background: #fff;
}

.tableDiv2 {
  min-height: 350px;
  max-height: 350px;
  overflow-y: hidden;
  overflow-x: hidden;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom-right-radius: 4px;

  :global {
    .ant-table-thead > tr > th {
      padding: 6px 6px 5px !important;
      border-bottom: 0 !important;
      background: #F5F5F5 !important;
      font-size: 14px !important;
      color: #666666 !important;
      font-weight: normal !important;
    }

    .ant-table-wrapper{
      overflow-y: auto !important;
    }

    .ant-table-tbody > tr > td {
      padding: 6px 6px 5px !important;
      border-bottom: 0 !important;
    }

    .ant-table-small {
      border: 0 !important;
    }

    .ant-pagination-simple-pager {
      input {
        width: 24px;
      }
    }
  }

}

.deptInfo2 {
  height: 21px;
  font-size: 15px;
  font-weight: bold;
}

.itemDiv2 {
  width: 100%;

  .checkbox2 {
    float: left;
  }

  .deptName2 {
    float: right;
  }
}

.itemDiv2:hover {
  background: #E6F7FF;
}

.pagination2 {
  width: 100%;
  margin-top: 8px;
  height: 24px;

  .checkbox2 {
    padding-left: 10px;
    float: left;
  }

  .pageNoe2 {
    float: right;
  }
}

.label2 {
  :global {
    .ant-form-item-label {
      line-height: 1;
      height: 24px !important;
    }
  }
}

.resultDiv2 {
  border: 1px solid #d9d9d9;
  background: white;
  width: 100%;
  min-height: 113px;
  max-height: 113px;
  overflow-x: hidden;
  overflow-y: auto;

  .deptTag2 {
    border-radius: 4px;
    border: 1px solid rgba(230,86,83,0.20);
    margin-left: 10px;
    background: rgba(230,86,83,0.20);;
  }

  .userTag2 {
    border-radius: 4px;
    border: 1px solid rgba(230,86,83,0.20);
    margin-left: 10px;
    background: rgba(230,86,83,0.20);;
  }

  :global {
    .ant-form-item{
      margin-bottom:2px
    }
  }
}

:global {
  .ant-select-dropdown-menu-item-selected{
    color: #E65653;
  }

  .ant-tree-node-selected{
    width: 83%;
    span{
      color: #fff;
    }
  }
}

